*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.navBtn {
  position: relative;
  width: 150px;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: purple;
  opacity: 0.9;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  background-image: linear-gradient(to right bottom, #95a7c3, #93a4de, #a38cf3, #c69efd, #f277f9);
}

.lgnBtn {
  position: absolute;
  right: 100px;
}
