.ArtistList {
  width: 79vmin;
  height: 79vmin;
  display: grid;
  grid-template-columns: repeat(3,25vmin);
  grid-gap: 2vmin;
  margin: 0 auto;
}

.Artist {
  width: 25vmin;
  height: 25vmin;
  position: relative;
  box-shadow: 2px 2px lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.Artist img {
  width: 25vmin;
  height: 25vmin;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(25%);
  transition: all 0.3s;
  transform-origin: center;
  text-align: center;
}

.Artist:hover > img {
  transform: scale(1.05);
}

.Artist h3 {
  color: grey;
  z-index: 1000;
  font-family: 'Lato';
  font-weight: 200;
  background: white;
  max-width: 20vmin;
  padding: 0 1vmin;
  margin: 0 auto;
  font-size: 2vmin;
  transition: all 0.3s;
}

.favebutton {
 width:100%;
 height:20%;
 background-image: linear-gradient(to right bottom, #95a7c3, #93a4de, #a38cf3, #c69efd, #f277f9);
 border:none;
 color:white;
 font-weight:bold;
 font-size:2.5vmin;
 opacity: 0;
 position: absolute;
 top: 20vmin;
 left: 0;
 font-family: 'Lato';
 font-weight: 200;
}

.Artist:hover .favebutton {
 opacity: 1;
 cursor: pointer;
}
