.ArtistModal {
  width: 79vmin;
  height: 79vmin;
  border: 1px solid white;
  margin: 0 auto;
  background-image: linear-gradient(to right bottom, #95a7c3, #93a4de, #a38cf3, #c69efd, #f277f9);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2vmin;
}

.ArtistModal img {
  width: 50vmin;
  height: 50vmin;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(25%);
  transition: all 0.3s;
  transform-origin: center;
  text-align: center;
  border: 1px solid white;
}

.ArtistModal h3 {
  color: white;
  z-index: 1000;
  font-family: 'Lato';
  font-weight: 200;
  max-width: 50vmin;
  padding: 0 1vmin;
  margin: 2vmin auto;
  font-size: 4vmin;
  transition: all 0.3s;
}

.ArtistModal p {
  font-family: 'Lato';
  max-width: 50vmin;
  margin: 0 auto;
  color: white;
}

.ArtistList {
  width: 79vmin;
  display: grid;
  grid-template-columns: repeat(3,25vmin);
  grid-gap: 2vmin;
  margin: 0 auto;
}

.Artist {
  width: 25vmin;
  height: 25vmin;
  position: relative;
  box-shadow: 2px 2px lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.Artist img {
  width: 25vmin;
  height: 25vmin;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(25%);
  transition: all 0.3s;
  transform-origin: center;
  text-align: center;
}

.Artist:hover > img {
  transform: scale(1.05);
}

.Artist h3 {
  color: grey;
  z-index: 1000;
  font-family: 'Lato';
  font-weight: 200;
  background: white;
  max-width: 20vmin;
  padding: 0 1vmin;
  margin: 0 auto;
  font-size: 2vmin;
  transition: all 0.3s;
}

.favebutton {
 width:100%;
 height:20%;
 background-image: linear-gradient(to right bottom, #95a7c3, #93a4de, #a38cf3, #c69efd, #f277f9);
 border:none;
 color:white;
 font-weight:bold;
 font-size:2.5vmin;
 opacity: 0;
 position: absolute;
 top: 25vmin;
 left: 0;
 font-family: 'Lato';
 font-weight: 200;
 transition: all 0.2s;
}

.Artist:hover .favebutton {
  opacity: 1;
  cursor: pointer;
}

.header {
  font-family: 'Lato';
  background-image: linear-gradient(to right bottom, #95a7c3, #93a4de, #a38cf3, #c69efd, #f277f9);
  color: white;
  padding: 4vmin;
  margin: 2vmin 0;
  grid-column: span 3;
}

.exit {
  position: absolute;
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  background-image: linear-gradient(to right bottom, #95a7c3, #93a4de, #a38cf3, #c69efd, #f277f9);
  color: white;
  text-align: center;
  font-family: 'Lato';
  top: -2vmin;
  right: -2vmin;
}

.Artist .exit {
  top: 0vmin;
  right: 0vmin;
  border-radius: 0%;
  text-align: center;
  opacity: 0;
}

.Artist:hover .exit, .Artist:hover .update, .Artist:hover .update-input {
  opacity: 1;
}

.update {
  position: absolute;
  width: 4vmin;
  height: 4vmin;
  border-radius: 0%;
  background-image: linear-gradient(to right bottom, #95a7c3, #93a4de, #a38cf3, #c69efd, #f277f9);
  color: white;
  text-align: center;
  font-family: 'Lato';
  top: 0vmin;
  right: 4vmin;
  opacity: 0;
}

.update-input {
  position: absolute;
  width: 21vmin;
  height: 4vmin;
  border-radius: 0%;
  background-image: linear-gradient(to right bottom, #95a7c3, #93a4de, #a38cf3, #c69efd, #f277f9);
  color: white;
  text-align: center;
  font-family: 'Lato';
  top: 0vmin;
  left: 0vmin;
  opacity: 0;
}
