*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.areas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.area {
  width: 440px;
  height: 300px;
}
