.ArtistList {
  width: 79vmin;
  height: 79vmin;
  display: grid;
  grid-template-columns: repeat(3,25vmin);
  grid-gap: 2vmin;
  margin: 0 auto;
}


.Artist {
  width: 25vmin;
  height: 25vmin;
  position: relative;
  box-shadow: 2px 2px lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
}

.Artist:hover {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
 @keyframes refreshPage {
   from {
     top: 100%;
   }
   to {
     top: 0%;
   }
 }

.Artist img {
  width: 25vmin;
  height: 25vmin;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: hard-light;
  animation-name: refreshPage;
  animation-iteration-count: 1;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  transition: all 0.2s;
  transform-origin: center;
  text-align: center;
}

.Artist img:hover {
  transform: scale(1.05);
}

.Artist h3 {
  color: grey;
  z-index: 1;
  font-family: 'Lato';
  font-weight: 200;
  background: white;
  max-width: 20vmin;
  padding: 0 1vmin;
  margin: 0 auto;
  font-size: 2vmin;
  transition: all 0.3s;
}

.Artist:hover h3 {
  padding: 0.1vmin 1.1vmin;
}
